/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
 th, td{
	border:1px solid #ccc;
	 border-radius:5px;
	 padding:0.5rem;
}

tbody tr ::nth-child(odd){
	background-color:#f2f2f2;
}
tbody tr ::nth-child(even){
	background-color:#ffffff;
}